<html>
    <head>
        <title>Course Requirement Tables</title>
    </head>

    <body>
        <button onclick="createS()">Click me</button>
        <div id="Req"></div>

        <script>
            function createS() {
                //create the place for the table to be stored
                let container = document.getElementById("Req");
                let table = document.createElement("table");

                //get the file
                fetch("course_catalog.json")
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {

                //find the information we need and put in the table

                //makes the json structure (object of objects) into an array of objects
                const courses = Object.values(data);

                //loop through all courses and find the one with the requirement we need
                for (let i = 0; i < courses.length; i++) {
                    let course = courses[i];
                    if (course.requirements && ((course.requirements).includes("S"))) {
                            let tr = document.createElement("tr");
                            let td1 = document.createElement("td");
                            td1.textContent = course.courseCode;
                            tr.appendChild(td1);
                            let td2 = document.createElement("td");
                            td2.textContent = course.title;
                            tr.appendChild(td2);
                            let td6 = document.createElement("td");
                            td6.textContent = course.requirements;
                            tr.appendChild(td6);
                            table.appendChild(tr);
                            }
                        }
                        //put the table in the html so we can see it
                        container.appendChild(table);
                    })
                }
        </script>
    </body>
</html>